body {
    background: url(../images/lights\ copy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

/*jumbotron*/
.jumbotron {
    text-align: center;
    color: lavender;
    text-shadow: 3px 3px 5px gray;
    font-family: 'Henny Penny', cursive;
    font-size: 30%;
    font-weight: bold;
}

/*instructions*/
.card {
    color: lightpink;
    font-family: 'Atma', cursive;
}
#guess {
    text-align: center;
    color: lightpink;
    font-family: 'Atma', cursive;
    font-size: 50px;
    
}
#score {
    text-align: center;
    color: lightpink;
    font-family: 'Atma', cursive;
    font-size: 50px;
    
}
.wins {
    text-align: center;
    color: white;
    background-color:lightgrey;
    font-size: 30px;
    font-family: 'Metamorphous', cursive;
}
.mid-box {
    color: gray;
    background-color: whitesmoke;
    font-size: 30px;
    font-family: 'Metamorphous', cursive;
}

/*numbers you guess*/


/*wins or losses*/


/*total score*/


/*crystals*/


/*Footer*/
.footer-fluid {
    text-align: center;
    background-color: white;
    color: gray;
    font-family: 'Metamorphous', cursive;
    font-size: 30px;
}